
/*Aun no puedoa gregar Negrita, sientanse libre de cambiar atributos */
h1,h2 {
    
    font-size: 36px;
    color: black;
    text-align: center;
    
}

p {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-right: 3cm;
    margin-left: 3cm;
}

ul{
    margin-left: 4cm;
    font-size: 20px;

}

img{
    box-align: 1;
    align-self: start;
    width: 300px;
}